*{
    margin: 0;
    padding: 0;
    border: border-box; 
}

.all-content{
    background: linear-gradient(to bottom right, #111827, #581c87, #111827);
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: center; */
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
    position:absolute;
    left: 12px;
    border: 1px solid;
    border-color: rgba(126, 34, 206, 0.5);
    padding: 5px 10px;
    background-color: rgba(88, 28, 135, 0.5);
}

a:hover{
    background-color: rgba(126, 34, 206, 0.5);
    transition: 0.3s;
    border: 1px solid white;
}

#balance{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 70px;
    border-radius: 13%;
    color:  #FFD700;
    background-color: rgba(88, 28, 135, 0.5);
    margin-right: 20px;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: #FFD700;
    padding: 10px;
    margin-top: 20px;
}

/* #line1{
    color: white;
    font-size: 25px;
    padding: 10px;
}

#line2{
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
} */

.game-area{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 600px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}

#roundsCount{
    color: white;
    font-size: 40px;
    padding: 15px;
    font-weight:530;
}

.games{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 180px;
}

.buttons{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.buttons:hover{
    background-color: #581c87;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}

#choice{
    font-size: 20px;
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
}

#challenge{
    background: linear-gradient(to right, #a855f7, #7e22ce);
    border: none;
    border-radius: 3px;
    padding: 12px;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    min-width: 250px;
    font-weight: bold;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    gap: 40px;
    margin-top: 30px;
}

.score{
    text-align: center;
}

#user-score, #comp-score{
    font-size: 40px;
    /* color: #FFD700; */
}

#playAgain{
    padding: 8px;
    min-width: 150px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    background: linear-gradient(to right, #a855f7, #7e22ce);
    color: white;
}

#playAgain:hover{
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(to right, #a855f7, #7e22ce);
    border: 1px solid white;
    color: white;
}

.msg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.hide{
    display: none;
}